<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Apartment Report</title>
</head>
<body>
    {% if sold_after_last_run %}
    <p>Sold after last run:</p>
    <ul id="sold">
    {% for item in sold_after_last_run %}
        <li>{{ item.address }}-{{ item.apartment_nr }}</li>
    {% endfor %}
    </ul>
    {% endif %}
    <p>Still available:</p>
    <ul id="available">
    {% for item in available_apartments %}
        <li>{{ item.address }}-{{ item.apartment_nr }}</li>
    {% endfor %}
    </ul>
</body>
</html>